/*bg-color*/
.card-sano-de-lucas .bg-dark{
	background:$eerieBlack!important;
}
/*bg-color*/

.card-sano-de-lucas .bg-red{
  background-color:$rojoBase; 
  // background-image: url("../img/vineta-color.svg");
  // background-position: top;
  // background-repeat:no-repeat;
  border-radius: 0 0 5px 5px;
  padding: 10px 20px 30px 20px;
}

